secret
model-training/dataset.json
synthetic-data-generation/incident_data.xlsx
synthetic-data-generation/telco_incidents.db
service-now/backend/incidents.db
service-now/backend/init.sql
servicenow-integration-agent/qdrant/data/

.idea/
*.iml
.DS_Store

**/__pycache__/
**/node_modules/
**/build/